.section-contact-us {
    background: rgb(255, 255, 255);
    font-family: 'Oswald', sans-serif;
}
.section-contact-us .section-1{
    padding-top: 60px;
    padding-bottom: 60px;
    background: url('http://avantage.bold-themes.com/business/wp-content/uploads/sites/2/2019/04/bgn-industries.png');
    background-position: center;
    background-size: contain;
}
.section-contact-us .contact-card .item {
    border: 1px solid #1a1a20;
    padding: 10px 0px 10px 10px;
    margin: 15px 0 5px 0;
    color: #212529;
    box-shadow: rgba(45, 46, 47, 0.192) 0px 8px 8px 0px;
    transform: skewY(361deg);
    
}



.section-contact-us .contact-card .item span {
    padding-left: 19px;
}
@media screen and (max-width: 600px) {
    .section-contact-us .contact-card .item img {
        width: 30px;
    }
    .section-contact-us .contact-card .item span {
        padding-left: 10px;
    }
  }
.section-contact-us .contact-card .item a {
    text-decoration: none;
    color: #212529;
}


.section-contact-us .contact-card .social-links img {
    width: 50px;
}
.section-contact-us .section-2{
    padding-top: 60px;
    padding-bottom: 60px;
}
.section-contact-us .section-2 img {
   object-fit: cover;
    
}