<section class="how-it-works back-img mb-5" id="how-it-works">
    <div class="container py-5">
        <div class="row">
            <div class="col ">
                <div class="header-section mb-5">
                    <h3 class="title text-center">How it works</h3>
                </div>
            </div>

        </div>
        <div class="row d-flex justify-content-center g-3">
            <div class="col-lg-3 col-md-6 col-12 ">
                <div class=" text-center"><img
                        src="../../../assets/how-it-works-1.svg"
                        class="img-fluid" alt="">
                    <p class="fs-4 fw-bold my-3">BOOK ONLINE</p>
                    <p class="fs-5">Share your need and information with us by filling the get started form </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 ">
                <div class="text-center"><img
                        src="../../../assets/how-it-works-2.svg"
                        class="img-fluid" alt="">
                    <p class="fs-4 fw-bold my-3">PHONE CONFIRMATION</p>
                    <p class="fs-5">We contact your for details on your project, and schedule an onsite estimate if
                        necessary</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 ">
                <div class="text-center"><img
                        src="../../../assets/how-it-works-3.svg"
                        class="img-fluid" alt="">
                    <p class="fs-4 fw-bold my-3">DETAILED ESTIMATE</p>
                    <p class="fs-5">We analyze and provide you with a cost estimate of your project needs</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class=" text-center"><img
                        src="../../../assets/how-it-works-4.svg"
                        class="img-fluid" alt="">
                    <p class="fs-4 fw-bold my-3">
                        COMPLETION</p>
                    <p class="fs-5">Our expert team will do the assigned task while you relax</p>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <a _ngcontent-jjw-c31="" href="get-free-quote" class="btn btn-vary1 col-lg-5"><span _ngcontent-jjw-c31="" class="blink">Ready to get started ?</span></a>
        </div>
    </div>
</section>