<section class="service-areas">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 section-1">
                <iframe src="https://www.google.com/maps/d/embed?mid=1LYhtKj4kq_Uix_VTi3d_S-W3GudiKhw&ehbc=2E312F" width="100%" height="340"></iframe>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 section-2 my-auto">
                <div class="header-section">
                    <h3 class="title">SERVICE AREA</h3>
                </div>
                <div>
                    <p class="text-justified"> Canadian Smart Savings servicing area for HVAC-furnaces, air conditioners, hot water heaters, tankless units includes: Toronto, GTA, Vaughan, Mississauga, Brampton, Markham, Scarborough, Milton, Burlington, Niagara Falls, Oshawa, Pickering, Ajax, Aurora, Newmarket, Barrie, Ottawa and more. For a full servicing area please <a href="https://www.google.com/maps/d/embed?mid=1LYhtKj4kq_Uix_VTi3d_S-W3GudiKhw&ehbc=2E312F" target="_blank">click here</a>.</p>
               <a href="https://g.page/Canadian-Smart-Savings?share" target="_blank" class="btn btn-vary1 mt-3">
                Get Direction</a>
                </div>
            </div>
        </div>
    </div>
</section>