.navigation{
    font-family: 'Oswald', sans-serif;
 
}
.navigation .section-2{
   background: #bf1e2e;
}
.navigation .navbar {
    box-shadow: 0 2px 8px 0 rgb(99 99 99 / 11%);
}

.navbar-toggler {
    font-size: 14px;
}

.navbar-nav .nav-item .nav-link {
    color: #5c5a5a;
    font-family: 'Oswald', sans-serif;
 
    position: relative;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}
.navbar-text a{
color: white !important;
}