<section class="navigation">
    <nav class="fixed-top navbar-expand-lg">
        <div class="container-fluid">
            <div class="row d-flex justify-content-between ">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 d-flex justify-content-center section-1 bg-white p-3">
                    <div class="logo"><a href="#"><img
                        src="https://chi01pap002files.storage.live.com/y4mJFHj0sh3-zI-e_7YeHdTjUX5zE28vHpYhJe4nw8TJDAK0O1XrnJJs78qHI2i-aLae3XOoaePc9wRlAkRR2fyn4TaAkz7BxcBmQnRawCC6MkB_M2d0LTkamvI8c_NrJzwcokEBuGgJHw8ShnUHzyo3q2YGFAfQDpzAgmBRFgaaei80w1oakMXrFYspnZrwnkyq2Ua4zS_IaUfGEChF7ptCg/Canadian%20Smart%20Savings.png?psid=1&width=1921&height=737"
                         alt="Logo"></a></div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-8 col-sm-6 col-6 d-flex justify-content-end section-2 p-3 ">
                    <span class="navbar-text pe-lg-3 pe-md-3 pe-0 my-auto">
                        <a href="tel:(844) 816-9473"> <img src="https://img.icons8.com/nolan/344/FFE29F/FF719A/apple-phone.png" width="50" alt="">(844) 816-9473</a>
                       
                    </span>
                </div>
            </div>
           
            
        </div>
    </nav>
</section>