<app-landing-navbar></app-landing-navbar>
<section class="home">
    <div class="container-fluid overlay-text vh-100 d-flex justify-content-center align-items-center">
        <div class="row d-flex justify-content-center align-items-center " data-scrollax-parent="true"
            style="height: 793px;">
            <div class="col-xl-7 col-lg-8 col-md-11 col-sm-12 col-12 text-center">
                <h1 class="mb-4">Get a solution for all your home improvement needs</h1>
                <h2 class="subheading mb-4">We are revolutionizing the way Canadians live by providing innovative solutions for energy conservation, automation and security, making homes more comfortable, efficient, and safe.</h2>
                <a href="get-free-quote" class="btn btn-vary1"><span
                        class="blink">GET AN ESTIMATE</span></a>
                <a href="#services">
                    <div class="scroll-down">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<app-services></app-services>
<app-landing-how-it-works></app-landing-how-it-works>
<app-landing-help></app-landing-help>
<app-landing-contact></app-landing-contact>
<app-footer></app-footer>