<app-landing-navbar></app-landing-navbar>
<app-page-intro head="Get an estimate" subhead="Services from us are trusted, reliable and professional. Please fill out the form completely, and we will get back to you as soon as possible."></app-page-intro>

<section class="schedule-services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-6 col-sm-6 col-12">
                <div class="get-quote-form p-3">
                    <form #getaQuoteForm="ngForm" (ngSubmit)="quoteFormData(getaQuoteForm)"
                        class="needs-validation" novalidate="">
                      
                        <div class="row g-3">
                            <div class="col-sm-12 ">
    
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingInput" name="yourName"
                                        #yourNameRef="ngModel" ngModel required />
                                    <label for="floatingInput">Your Name</label>
    
                                </div>
                                <div *ngIf="yourNameRef.errors && (yourNameRef.dirty || yourNameRef.touched)"
                                    style="text-align:left; color:red;">
                                    <div [hidden]="!yourNameRef.errors">
                                        <p>&nbsp;Your Name is mandatory</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 ">
    
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" id="floatingInput" name="email"
                                        #emailAdderssRef="ngModel" ngModel required />
                                    <label for="floatingInput">Email</label>
                                </div>
                                <div *ngIf="emailAdderssRef.errors && (emailAdderssRef.dirty || emailAdderssRef.touched)"
                                    style="text-align:left; color:red;">
                                    <div [hidden]="!emailAdderssRef.errors">
                                        <p>&nbsp;Email is mandatory</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 ">
    
                                <div class="form-floating mb-3">
    
                                    <input type="tel" class="form-control" name="phoneNumber" id="phoneNumber"
                                        #phoneNumberRef="ngModel" ngModel
                                        [inputMask]="quotePhoneNumberInputMask" required>
                                    <label for="floatingInput">Phone Number</label>
                                </div>
                                <div *ngIf="phoneNumberRef.errors && (phoneNumberRef.dirty || phoneNumberRef.touched)"
                                    style="text-align:left; color:red;">
                                    <div [hidden]="!phoneNumberRef.errors">
                                        <p>&nbsp;Phone Number is mandatory</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-6 col-12">
    
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="floatingInput"
                                                name="postalCode" #postalCodeRef="ngModel" ngModel required />
                                            <label for="floatingInput">Postal Code</label>
                                        </div>
                                        <div *ngIf="postalCodeRef.errors && (postalCodeRef.dirty || postalCodeRef.touched)"
                                            style="text-align:left; color:red;">
                                            <div [hidden]="!postalCodeRef.errors">
                                                <p>&nbsp;Postal Code is mandatory</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-12">
                                        <div class="form-floating mb-3">
    
                                            <select class="form-select " name="serviceReq" id="floatingSelect"
                                                aria-label="Floating label select example" required=""
                                                (change)="selectChangeHandler1($event)">
    
                                                <option *ngFor="let opt of this.getAQuoteServicesReq"
                                                    [value]="opt.label" [selected]="opt.status == true">
                                                    {{opt.label}}</option>
                                            </select>
                                            <label for="floatingSelect">Service(s) Required</label>
                                        </div>
    
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a comment here"
                                        name="addDetails" id="floatingTextarea2" style="height: 100px"
                                        ngModel></textarea>
                                    <label for="floatingTextarea2">Additional Details</label>
                                </div>
                            </div>
    
                            <button type="submit" class="btn btn-vary1 mt-3"
                                [disabled]="!getaQuoteForm.form.valid">Request Service</button>
                        </div>
    
                    </form>
                </div>
            </div>
           
        </div>
        </div>
        </section>
