<section class="navbar-section ">
    <div class="container py-5 ">
        <div class="row gx-lg-5 gx-sm-2 d-flex justify-content-center ">
            <div class="col-lg-10 col-md-10 col-12 my-auto text-center aos-init aos-animate" data-aos="zoom-in"
                data-aos-duration="1200" data-aos-delay="200">
                <div class="say">
                    <h1>{{head}}</h1>
                    <h2 class="mt-3">{{subhead}}</h2>
                  
                </div>
            </div>
        </div>
    </div>
</section>