.navbar-section{
    background:#28221d;
    padding: 160px 0 60px 0;  
    color: #ffffffe7;
    font-family: 'Oswald', sans-serif;

}
.navbar-section h1{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 98px;
}
.navbar-section h2{
    text-transform: capitalize;
    font-size: 38px;
    line-height: 1.5em;
}

@media screen and (max-width: 797px) {
    .navbar-section h1{
        font-size: 58px;
    }
    .navbar-section h2{
        font-size: 22px;
    }
  }