<app-landing-navbar></app-landing-navbar>
<app-page-intro head="ABOUT US" subhead="Home automation company in Vaughan, Canada"></app-page-intro>

<section class="about-us-info back-img ">
    <div class="container ">
        <div class="row">
            <div class="col ">
                <div class="header-section mb-5">
                    <h3 class="title text-center">THE BEST HANDYMAN
                        NEAR YOU</h3>
                </div>
            </div>

        </div>
        <div class="row align-items-between">
            <div class="col-lg-5 mx-auto my-auto order-lg-1 order-2">
                <div class="fs-4 intro">
                    <p>Canadian Smart Savings is one of the fastest growing Smart Home companies in Canada. We are
                        committed
                        in delivering the highest of quality products and solutions to our customers.</p>

                    <p>Whether you are
                        looking to install a Smart Home package, upgrade your attic insulation, improve the water and
                        air
                        quality in your home or upgrade your HVAC equipment, Canadian Smart Savings will provide a
                        tailored
                        solution to best fit your needs.</p>

                </div>
                <div>
                    
                    <h4 class="fw-bold">MICHEAL</h4>
                    <p>CEO - FOUNDER</p>
                </div>

            </div>
            <div class="col-lg-6 fs-4 text-center order-lg-2 order-1 mb-lg-0 mb-3">
                <img src="https://lh3.googleusercontent.com/p/AF1QipMauCC7_KhLBRghRwvjSoJQuiUaQYnJj8-J0CRQ=w960-h960-n-o-v1" width="100%"
                    alt="">
            </div>
        </div>
    </div>
</section>

<app-core-values></app-core-values>
<app-landing-testimonials></app-landing-testimonials>
<app-landing-contact></app-landing-contact>
<app-footer></app-footer>