<section class="schedule-services">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="header-section">
                            <h3 class="title">Schedule Service</h3>
                            <hr>

                        </div>
                        <div class="schedule-services-form p-3">
                            <form #scheduleServiceForm="ngForm" (ngSubmit)="scheduleServiceFormData(scheduleServiceForm)"
                            class="needs-validation" novalidate="">
                                <p class="text-justified"> Please fill out the form below in order to schedule service and be sure that your
                                    request will be processed promptly and you will hear back from us shortly.</p>
                                <div class="row g-3">
                                    <div class="col-sm-6 ">

                                        <div class="row">
                                            <div class="col-sm-6 col-12 ">
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" id="floatingInput"
                                                    name="firstName"  ngModel>
                                                    <label for="floatingInput">First Name</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-12">
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" id="floatingInput"
                                                    name="lastName"  ngModel>
                                                    <label for="floatingInput">Last Name</label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-floating mb-3">
                                            <input type="email" class="form-control" id="floatingInput"
                                            name="email" ngModel>
                                            <label for="floatingInput">Email Address</label>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-floating mb-3">
                                            <input type="tel" class="form-control" id="floatingInput"
                                               name="phoneNumber" ngModel>
                                            <label for="floatingInput">Phone</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-floating mb-3">
                                            <input type="tel" class="form-control" id="floatingInput"
                                            name="addPhoneNumber" ngModel>
                                            <label for="floatingInput">Addl. Phone Number</label>
                                        </div>

                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="floatingInput"
                                            name="address"  ngModel>
                                            <label for="floatingInput">Address</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="floatingInput"
                                            name="streetAddress"   ngModel>
                                            <label for="floatingInput">Street Address</label>
                                        </div>

                                    </div>
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-6 col-12">
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" id="floatingInput"
                                                    name="city"   ngModel>
                                                    <label for="floatingInput">City</label>
                                                </div>

                                            </div>
                                            <div class="col-sm-6 col-12">
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" id="floatingInput"
                                                    name="postalCode"   ngModel>
                                                    <label for="floatingInput">Postal Code</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-6 col-12">
                                                <div class="form-floating mb-3">
                                                    <select class="form-select " name="serviceReq" id="floatingSelect"
                                                    aria-label="Floating label select example" required="" (change)="selectChangeHandler2($event)">
                                                        <option *ngFor="let opt of this.scheduleService" [value]="opt.label" [selected]="opt.status == 'true'"  >
                                                          {{opt.label}}</option>
                                                      </select>
                                                    <label for="floatingSelect">Service(s) Required</label>
                                                </div>

                                            </div>
                                            <div class="col-sm-6 col-12">
                                                <div class="form-floating mb-3">
                                                    <select class="form-select " name="serviceReq" id="floatingSelect"
                                                    aria-label="Floating label select example" required="" (change)="selectChangeHandler3($event)">
                                                        <option *ngFor="let opt of this.squareFootageOfProp" [value]="opt.label" [selected]="opt.status == 'true'"  >
                                                          {{opt.label}}</option>
                                                      </select>
                                                    <label for="floatingSelect">Square Footage of Property</label>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-floating">
                                            <textarea class="form-control" placeholder="Leave a comment here"
                                            name="addDetails" id="floatingTextarea2" style="height: 100px" ngModel></textarea>
                                            <label for="floatingTextarea2">Details / Comments</label>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-sm-12 col-12">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="floatingInput"
                                                name="promoCode" ngModel  >
                                            <label for="floatingInput">Promo Code</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"  name="subscriptionCheckbox" id="optInBooking" [checked]="subscriptionCheckbox">
                                            <label class="form-check-label text-justified" for="flexCheckDefault">
                                                Subscription: Canadian Smart Savings may contact you to provide information about our brands, products, events, promotions, services or extended warranties, or to contact you for market research purposes. Please check here if, for some reason, you would prefer not to participate in these opportunities.
                                            </label>
                                          </div>
                                    </div>
                                </div>
                                <hr class="my-4">

                                <button type="submit" class="btn btn-vary1">Submit</button>
                            </form>
                        </div>
                    </div>
                   
                </div>

            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mt-3">
                <div class="row">
                    <div class="col-lg-12 col-md-6 col-sm-6 col-12">
                        <div class="get-quote-form p-3">
                            <form #getaQuoteForm="ngForm" (ngSubmit)="quoteFormData(getaQuoteForm)"
                                class="needs-validation" novalidate="">
                                <div class="text-center">
                                    <h4>GET A QUOTE TODAY</h4>
                                    <p>Free in-home estimate!</p>
                                </div>

                                <div class="row g-3">
                                    <div class="col-sm-12 ">

                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="floatingInput"
                                              name="yourName"  ngModel>
                                            <label for="floatingInput">Your Name</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 ">

                                        <div class="form-floating mb-3">
                                            <input type="email" class="form-control" id="floatingInput"
                                               name="email" ngModel>
                                            <label for="floatingInput">Email address</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 ">

                                        <div class="form-floating mb-3">
                                            <input type="tel" class="form-control" id="floatingInput"
                                               name="phoneNumber" ngModel>

                                            <label for="floatingInput">Phone Number</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-6 col-12">

                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" id="floatingInput"
                                                     name="postalCode"   ngModel>
                                                    <label for="floatingInput">Postal Code</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-12">
                                                <div class="form-floating mb-3">
                                                  
                                                    <select class="form-select " name="serviceReq" id="floatingSelect"
                                                    aria-label="Floating label select example" required="" (change)="selectChangeHandler1($event)">
                                                        <option *ngFor="let opt of this.getAQuoteServicesReq" [value]="opt.label" [selected]="opt.status == 'true'"  >
                                                          {{opt.label}}</option>
                                                      </select>
                                                    <label for="floatingSelect">Service(s) Required</label>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-floating">
                                            <textarea class="form-control" placeholder="Leave a comment here"
                                               name="addDetails" id="floatingTextarea2" style="height: 100px" ngModel></textarea>
                                            <label for="floatingTextarea2">Additional Details</label>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-vary1 mt-3">Get a Quote</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 col-sm-6 col-12 mt-3 d-flex justify-content-center align-items-center">
                        <div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img src="https://www.dhontario.com/wp-content/uploads/promo-Furnace-Air-Conditioner-Rent-to-own.jpg" class="d-block" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://www.dhontario.com/wp-content/uploads/Promo-Tankless-rent-to-own.jpg" class="d-block" alt="...">
                              </div>
                           
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                       
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>