.set-up-a-new-account {
    font-family: 'Oswald', sans-serif;
    padding: 0 0 60px 0;
}

.set-up-a-new-account .new-account-form {
    background: #f8f8f8;
    border: 1px #eee solid;
}

.progress-bar {
    width: 50%;
}