<app-landing-navbar></app-landing-navbar>
<app-page-intro head="EXCLUSIVE OFFER" subhead="Price Match Guarantee !"></app-page-intro>

<section class="why-us">
    <div class="container">
        <div class="row">
            <div class="col-12 fs-4">
                <p>Canadian Smart Savings believes that homeowners should receive exceptional workmanship, high-quality materials, timely project completion, and a reliable warranty for their renovation projects. We prioritize transparency and honesty, and as a result, we are delighted to offer our clients the following guarantees:
                </p>
                <ol>
                    <li>
                        <p><span class="fw-bold">Quoted Price Guarantee –</span>We promise that the price we quote you is the final price you will pay, with no hidden fees or costs. If you do not change the scope of work you selected, we guarantee your quoted price, and we will cover any additional costs ourselves.
                        </p>
                    </li>

                    <li>
                        <p><span class="fw-bold">Timeline Guarantee – </span> To demonstrate our commitment to completing your project on time, we pledge to pay $100.00 for every business day we exceed the agreed-upon completion date. This guarantee applies only to clients who sign contracts with us starting January 1, 2023, and as long as you do not change your project scope or selections during the renovation.</p>
                    </li>
                    <li>
                        <p><span class="fw-bold">5-Year UNLIMITED Warranty – </span>We provide our clients with a 5-year unlimited warranty to demonstrate the superior quality of our work and materials. Our warranty covers 100% of everything we do.</p>
                    </li>

                </ol>
                <p>If another company offers a lower quote and is willing to put these guarantees in writing, Canadian Smart Savings will match their price.</p>
            </div>
            <div class="col-12 text-center mt-5">
                <a href="get-free-quote"  class="btn btn-vary1"><span
                    class="blink">Get Free Consultation</span></a>
            </div>
        </div>
    </div>
</section>
<app-landing-testimonials></app-landing-testimonials>
<app-landing-contact></app-landing-contact>
<app-footer></app-footer>