<section class="core-values back-img " id="how-it-works">
    <div class="container py-5">
        <div class="row">
            <div class="col ">
                <div class="header-section mb-5">
                    <h3 class="title text-center">our CORE VALUES</h3>
                </div>
            </div>

        </div>
        <div class="row d-flex justify-content-center gx-5">
            <div class="col-lg-4 col-md-4 col-12">
                <div class=" text-center"><img
                        src="../../../assets/staff.png"
                        class="img-fluid" alt="">
                    <p class="fs-4 fw-bold my-3">PROFESSIONAL STAFF</p>
                    <p class="fs-5">From exhaust fan assessment to reviewing attic space and cleaning refrigerator coils to give you a safe life</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12 ">
                <div class="text-center"><img
                        src="../../../assets/money-box.png"
                        class="img-fluid" alt="">
                    <p class="fs-4 fw-bold my-3">SAVE MONEY</p>
                    <p class="fs-5">We do more than a renovation service- we check for glitches that need attention to keep you safe and save your money
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12 ">
                <div class="text-center"><img
                        src="../../../assets/customer-support.png"
                        class="img-fluid" alt="">
                    <p class="fs-4 fw-bold my-3">24/7 SERVICES</p>
                    <p class="fs-5">If you are in emergency situation, please do not worry. Whenever you call, we service you</p>
                </div>
            </div>
           
        </div>
    </div>
</section>