<section class="section-testimonials  d-flex align-items-center" id="testimonials">
    <!-- Carousel wrapper -->
    <div class="container-fluid">
        <div class="row ">
            <div
                class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 section-1 py-5 d-flex justify-content-center align-items-center">
                <div class="header-section">
                    <img src="https://img.icons8.com/nolan/344/FF8177/B12A5B/quote.png" width="150" alt="">
                    <h3 class="title">Testimonials</h3>
                    <h2 class="small-title">Our Customers love what we do</h2>

                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 section-2 ">
                <div id="carouselExampleControls1" data-bs-ride="carousel"
                    class="carousel slide carousel-fade text-center py-5">
                    <div class="carousel-inner">
                        <div data-bs-interval="10000" class="carousel-item">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-8 testimonial-text"><i
                                        class="fas fa-quote-left pe-2" aria-hidden="true"></i>
                                    <p class="fs-5"> I must admit I was pretty hesitant in buying a furnace from a relatively new company. But i'm more than happy with my purchase. I saved a lot of money and the unit was delivered way earlier than i expected. These guys exceeded my expectations. Keep up the good work!</p>
                                    <h5 class="mb-3 fs-4 fw-bold">Joseph George</h5>
                                </div>
                            </div>
                            <ul
                                class="list-unstyled d-flex justify-content-center text-warning mb-0">
                                <li><i class="fas fa-star fa-sm"
                                        aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm"
                                        aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm"
                                        aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm"
                                        aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm"
                                        aria-hidden="true"></i></li>
                            </ul>
                        </div>
                        <div data-bs-interval="10000" class="carousel-item">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-8 testimonial-text"><i
                                        class="fas fa-quote-left pe-2" aria-hidden="true"></i>
                                    <p class="fs-5"> 100% recommending this company. They came to our door and recommended us to get a sump pump and back water valve. We were very hesitant but the advisors were very professional and detailed about the products and the entire program. So we went ahead and it was the best thing. Great staff, very professional and the installers were in and out and cleaned up in less that 3 hrs. We also got everything that was promised and our subsidy from the city Can’t say enough how happy we are 5 STARS!
                                    </p>
                                    <h5 class="mb-3 fs-4 fw-bold">Sara Fontana</h5>
                                </div>
                            </div>
                            <ul
                                class="list-unstyled d-flex justify-content-center text-warning mb-0">
                                <li><i class="fas fa-star fa-sm"
                                        aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm"
                                        aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm"
                                        aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm"
                                        aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm"
                                        aria-hidden="true"></i></li>
                            </ul>
                        </div>
                        <div data-bs-interval="10000" class="carousel-item">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-8 testimonial-text"><i
                                        class="fas fa-quote-left pe-2" aria-hidden="true"></i>
                                    <p class="fs-5"> I was looking for a furnace but i didn't know the exact one i should get. Purchased it from CCAC,Louis was very helpful and made the process super easy. I 100% recommend them for anyone in need of hvac stuff.</p>
                                    <h5 class="mb-3 fs-4 fw-bold">Caitlin Niukkanen</h5>
                                </div>
                            </div>
                            <ul
                                class="list-unstyled d-flex justify-content-center text-warning mb-0">
                                <li><i class="fas fa-star fa-sm"
                                        aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm"
                                        aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm"
                                        aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm"
                                        aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm"
                                        aria-hidden="true"></i></li>
                            </ul>
                        </div>
                        <div data-bs-interval="10000" class="carousel-item active">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-8 testimonial-text"><i
                                        class="fas fa-quote-left pe-2" aria-hidden="true"></i>
                                    <p class="fs-5"> We had the pleasure of dealing with Michael, he took care of us and we highly recommend him. </p>
                                    <h5 class="mb-3 fs-4 fw-bold">Jake Hundert</h5>
                                </div>
                            </div>
                            <ul
                                class="list-unstyled d-flex justify-content-center text-warning mb-0">
                                <li><i class="fas fa-star fa-sm"
                                        aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm"
                                        aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm"
                                        aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm"
                                        aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm"
                                        aria-hidden="true"></i></li>
                            </ul>
                        </div>
                        <div data-bs-interval="10000" class="carousel-item">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-8 testimonial-text"><i
                                        class="fas fa-quote-left pe-2" aria-hidden="true"></i>
                                    <p class="fs-5"> Had a great experience with Canadian Smart Savings!</p>
                                    <h5 class="mb-3 fs-4 fw-bold">Jacob Reid</h5>
                                </div>
                            </div>
                            <ul
                                class="list-unstyled d-flex justify-content-center text-warning mb-0">
                                <li><i class="fas fa-star fa-sm"
                                        aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm"
                                        aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm"
                                        aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm"
                                        aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm"
                                        aria-hidden="true"></i></li>
                            </ul>
                        </div>
                    </div><button type="button" data-bs-target="#carouselExampleControls1"
                        data-bs-slide="prev" class="carousel-control-prev"><span aria-hidden="true"
                            class="carousel-control-prev-icon"></span><span
                            class="visually-hidden">Previous</span></button><button type="button"
                        data-bs-target="#carouselExampleControls1" data-bs-slide="next"
                        class="carousel-control-next"><span aria-hidden="true"
                            class="carousel-control-next-icon"></span><span
                            class="visually-hidden">Next</span></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Carousel wrapper -->
</section>