.section-testimonials {
    font-family: 'Oswald', sans-serif;
    background: rgb(42,42,42);
    
}
.section-testimonials .section-2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.755),rgba(0, 0, 0, 0.705)) , url(https://images.unsplash.com/photo-1611095790444-1dfa35e37b52?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80); 
    background-attachment: fixed;
    background-position: center center !important;
   
}
.section-1{
    
}
.section-testimonials .testimonial-text{
    color: #ffffffe7;
}
.section-testimonials .testimonial-text i{
    font-size: 120px;
}

.section-testimonials .testimonial-text h5{
    text-transform: uppercase;
}